<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Password generator</title>
</head>
<body>
    <div id="password">
        <div id="form">
        <span id="password" class="password">{{ password }}</span>
    </div>
   <input type="range" v-model="settings.length" id="range" class="range-slider" min="6" max="32" value="14"> Choose length <br />
    <label for="range" > Length: {{ settings.length }}</label><br/>
    <label v-for="option in options" />{{ option.name }} 
 <input type="checkbox" v-model="option.status"><br />   
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>
</html>
