html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
    line-height: 1;
font-size:23px;
font-family: 'Quicksand', sans-serif;
background-color: indigo;
text-align: center;
}
.options, .length, .passwordbox {
    background-color:white;
    border-width: 8px;
    padding:8px;
    border-style: solid;
    border-color: #8d5db0;
}
h1 {
    color: white;
    margin-top:22px;
    font-size: 32px;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 100%;
    background: transparent; 
  }

  input[type=range]:focus {
    outline: none; 
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color:#1727b4;
    margin-top: -1px; 
   
  }

input[type=range]::-webkit-slider-runnable-track {
  width: 25px;
  height:12px;
  cursor: pointer;
  background-color:#367ebd;
  border:none;
}

.options {
    margin: 1em 20em 2em 20em;
    height:155px;
    font-weight: bold;
}
.length {
    border-radius: 15px;
    margin: 1em 22em 1em 22em;   
}
.checked {
    font-weight: 900;
}
.passwordbox {
    margin: 10em 0  0  0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    padding: 8px;
    height: 60px;
    border-radius: 15px;
}
input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked + span {
    background-color: indigo;
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1) inset, -2px -2px 0px 0px white inset;
}

.checkbox {
    display: block;
    border: black solid 3px;
    width: 15px;
    height: 15px;
    position: relative;
    margin: -1em 1em 1em 15em;
}

.checkbox:hover {
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1) inset, -2px -2px 0px 0px white inset;
    background-color: #665f9c;
}

.copyButton {
    background-color:#665f9c;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    height: 40px;
    border-radius: 25px;
    width: 110px;
    margin: 2em 6em 0 6em;
}

